#gamedisplay{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 2em;
    gap:2em;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
}

#red {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    width: 20%;
    height: 35vh;
    background-color: #a83232;
    border-radius: 3%;
}

#blue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    width: 20%;
    height: 35vh;
    background-color: #173bb1;
    border-radius: 3%;
    /* color: #662727; */
}

.blue-game {
    width: 100% !important;
}

#blue-container-game {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;

    color: black;
    width: 30%;
    border: 1px solid rgba(0,0, 0, 0.2);
    height: 80vh;
    gap: 1em;
}


#button-container {
    width: 100%;
    display: none;
    justify-content: center;
    margin-top: 2em;
    gap: 2em;
}

.spymaster {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-end;
    margin-bottom: 1em;
}

.card {
    height: 5em;
    width: 19%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: x-large;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 1%;
    row-gap: 10px;
    width: 1000px;
    flex-wrap: wrap;
}

.team-header {
    display: flex;
    flex-direction: column;
}

.player-lists{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.center-container {
    display: flex;
    justify-content: center;
}

#player-options {
    width: 60vw;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.input-container {
    display: flex;
    gap: 1em;
    align-items: center;
}

.number-input { 
    width: 5em !important;
}

#logs {
    background-color: #d9c1a5 !important;
    height: 30vh;
    overflow-y: scroll;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.badge-class {
    font-size: 0.5em !important;
}

.badge-container {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 0.2em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding-left: 0.2em;
}

.red-ingame {
    justify-content: center !important;
    align-items: center !important;
}

.blue-ingame {
    justify-content: center !important;
    align-items: center !important;
}

#announcement {
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

#redPlayers {
    display: flex;
    gap: 0.4em;
    margin-bottom : 2em;
}

#bluePlayers {
    display: flex;
    gap: 0.4em;
    margin-bottom : 2em;
}

#playerName {
    color: white;
}

.body-class {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #213268 50%, #662727 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

.player-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black !important;
    width: 100%;
    gap: 1em;
}

.player-records {
    display: flex;
    flex-direction: column;
}

#player{
    color: black;
}

.horizontal {
    display: flex;
    gap: 2em;
}